<!DOCTYPE html>
<body>
    <h1>Register!</h1>
    <form action="/register" method="POST">
        <input id = "username" name = "username" type = "username" placeholder = "Username" required>
        <input id = "email" name = "email" type = "email" placeholder = "Email" required>
        <input id = "password" name = "password" type = "password" placeholder = "Password" required>
        <div>
            <button type="submit" value="register">Register</button>
        </div>
    </form>
    <% if (error) { %>
        <p class="error"><%= error %></p>
        
    <% } %>
</div>
</body>
</html>